//====================================================================================================

.footer {
   padding: 32px 0;
   // .footer__container

   &__container {
   }

   // .footer__text

   &__text {
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: -0.04em;
      color: $grayColor;
   }
}

//====================================================================================================
